<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>Finder</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryFilesAndFolders</string>
	<key>AMDefaultParameters</key>
	<dict/>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string></string>
		<key>AMDInput</key>
		<string></string>
		<key>AMDNote</key>
		<string></string>
		<key>AMDOptions</key>
		<string></string>
		<key>AMDRelatedActions</key>
		<string>(io.mannie.Organise-By-Date, io.mannie.Smart-Organise-Folders)</string>
		<key>AMDRequires</key>
		<string></string>
		<key>AMDResult</key>
		<string>The input files in their new location along with any other organised files.</string>
		<key>AMDSummary</key>
		<string>Moves each file into a folder with the same name as the extension; parent directory relationships are maintained so other files of the same extension in the directory are moved as well.</string>
		<key>AMDWebsite</key>
		<string>htttp://mannie.io</string>
	</dict>
	<key>AMIconName</key>
	<string>icon.png</string>
	<key>AMKeywords</key>
	<array/>
	<key>AMName</key>
	<string>Organise Files with Extension</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>(* Action name to be suggested to add prior to this action to make the task safer, e.g. com.apple.Automator.CopyFiles, goes here. *)</string>
		<key>Level</key>
		<integer>0</integer>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>io.mannie.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009-2015 Mannie Tagarira. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>OrganiseByExtension</string>
</dict>
</plist>
